.acefullscreenhtml {
    overflow: hidden;
}

.acefullscreen {
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width:100% !important;
    height:100% !important;
    z-index: 9999999;
}

.acerexmode{
    border: solid 1px #c1c9d4;
}
.acerexdarkmode{
    border: solid 1px rgba(21, 28, 34, 0.8);
}

.ace_editor {
    resize: vertical;
    min-height: 75px;
}

/* Hide Scrollbar when not active
body .ace_scrollbar {
    -webkit-transition: opacity .2s ease-in-out;
       -moz-transition: opacity .2s ease-in-out;
        -ms-transition: opacity .2s ease-in-out;
         -o-transition: opacity .2s ease-in-out;
            transition: opacity .2s ease-in-out;
    opacity: 0;
}
body .ace_editor:hover .ace_scrollbar, body .ace_editor:focus-within .ace_scrollbar, body .ace_editor:active .ace_scrollbar {
    opacity: 1;
}
*/
