.acefullscreenhtml {
    overflow: hidden;
}

.acefullscreen {
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width:100% !important;
    height:100% !important;
    z-index: 9989;
}

.acerexmode{
    border: solid 1px #c1c9d4;
}
.acerexdarkmode{
    border: solid 1px rgba(21, 28, 34, 0.8);
}

.ace_editor {
    resize: vertical;
}

#ace_settingsmenu {
    font-size: 14px;

}
#ace_settingsmenu label {
    font-weight: normal;
    padding-left: 5px;
}

#ace_settingsmenu table, #ace_settingsmenu table table {
    background-color: transparent;
    width: 100%;
}

#ace_settingsmenu input[type="checkbox"] {
    margin: -3px 0 0;
}

#ace_settingsmenu input,
#ace_settingsmenu select,
#ace_settingsmenu checkbox {
    background-color: #fff;
}

#kbshortcutmenu {
    font-size: 14px;
}
#kbshortcutmenu h1 {
    font-size: 18px;
}

.ace_prompt_container .ace_content {
    font-size: 15px;
}

/* Hide Scrollbar when not active
body .ace_scrollbar, body .ace_sb-v, body .ace_sb-h {
    -webkit-transition: opacity .2s ease-in-out;
       -moz-transition: opacity .2s ease-in-out;
        -ms-transition: opacity .2s ease-in-out;
         -o-transition: opacity .2s ease-in-out;
            transition: opacity .2s ease-in-out;
    opacity: 0;
}
body .ace_editor:hover .ace_scrollbar, body .ace_editor:focus-within .ace_scrollbar, body .ace_editor:active .ace_scrollbar,
body .ace_editor:hover .ace_sb-v, body .ace_editor:focus-within .ace_sb-v, body .ace_editor:active .ace_sb-v,
body .ace_editor:hover .ace_sb-h, body .ace_editor:focus-within .ace_sb-h, body .ace_editor:active .ace_sb-h
{
    opacity: 1;
}*/
